body{
	background-image: url('dark_wood.png');
}

p{
	font-weight: bold;
	color: white;
	font-family: "Arial";
}

h3{
	color: #FFBC00;
	font-size: 40px;
	font-family: "Passion One";
	margin-bottom: 0px;

}

li{

}

#Header{
	background-color: #8E41D5;
	width: 500px;
	border: solid 8px black;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	text-align: center;
	text-shadow: 10px 10px;
}

#Header h1{
	font-size: 60px;
	font-family: "Passion One";
	color: #FFBC00;
	font-weight: bold;
}

#LeftNav{
	background-color: #8E41D5;
	width: 400px;
	border: solid 8px black;
	float: left;
	padding-bottom: 8px;
	text-align: center;

}

#LeftNav img{
	
}

#LeftNav ul{
	list-style-type: none;
	padding-left: 0px;
}

#bow{
	color: #FFBC00;
	font-size: 20px;
	font-family: "Arial";
	margin-bottom: 0px;

}

#LeftNav a{
	color: white;
	font-weight: bold;
	font-size: 24px;
}

#Content{
	border: 2px solid;
	padding: 20px;
	width: 300px;
	resize: horizontal;
	overflow: auto; 
	background-color: #8E41D5;
	width: 700px;
	border: solid 8px black;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	text-align: center;
	padding: 15px;
	
}

#Content img{
	border-radius: 50%;
	transform: rotate(20deg);
}

#Footer{
	background-color: #8E41D5;
	border: solid 8px black;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	
	text-align: center;
}

#Footer ul{
	list-style-type: none;
	padding-left: 0px;
}

#Footer a{
	color: white;
	font-weight: bold;
	font-size: 24px;
}


#tooltip { 
  color: white;
  font-size: 18px;	
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted white;
  text-align: center;
}

#tooltip #tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  
  position: absolute;
  z-index: 1;
}

#tooltip:hover #tooltiptext {
  visibility: visible;
}